/* this css file will only style the homepage of our site */

.self{
  display: block;
  margin: 10px;
  max-width: 250px;
}

.cat{
  max-width: 380px;
  margin: 10px;
}

.cat2{
  max-width: 180px;
  margin: 10px;
}

.cat3{
  max-width: 180px;
  margin: 10px;
}

.minor-section{
  font-weight: bold;
  background-size: 70%;
  background-image: url('https://images.squarespace-cdn.com/content/542c0343e4b0ecfba8ea01d5/1593085047060-CMEBILBBROBEZF5M55TH/image-asset.png');
}
