/* this css file will only style the homepage of our site */

.self{
  display: block;
  margin: 10px;
  max-width: 250px;
}

.cat{
  max-width: 360px;
  margin: 10px;
}

.cat2{
  max-width: 160px;
  margin: 10px;
}

.cat3{
  max-width: 360px;
  margin: 10px;
}

h2{
  margin-left: 5px;
  font-size: 30px;
}

h3{
  text-align: center;
}

.minor-section{
  font-weight: bold;
  font-family: 'Courier New', monospace;
  font-size: 21px;
  background-size: 70%;
  background-image: url('https://cdn.vectorstock.com/i/1000x1000/28/05/seamless-pattern-with-hand-draw-funny-cats-vector-11232805.webp');
}

.container{
  border: solid 1px #0026ff;
  margin: 15px;
  padding: 0;
  display: center;
  background-size: 70%;
  background-image: url('https://cdn.vectorstock.com/i/1000x1000/28/05/seamless-pattern-with-hand-draw-funny-cats-vector-11232805.webp');
}

