/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #5f71a1;
    font-family: 'Courier New', monospace;
    font-size: 18px;
  }
  
  #content{
    background-color: #2f439b;
  }
  
  h1{
    text-align: center;
    color: white;
    font-size: 30px;
  }
  
  h3{
    font-size: 20px;
    margin-left: 0;
  }
  
  .container{
    padding: 100px;
    margin-top: 10px;
    border: solid 1px #888;
    background-color: #5f71a1;
    font-family: 'Courier New', monospace;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
  }
  
  .name-output{
    font-weight: bold;
    color: rgb(17, 0, 255);
    background-color: lightgray;
  }

  p{
    margin-bottom: 90px;
    font-size: 106%;
    word-spacing: 5px;
    line-height: 25px;
    margin-left: 5px;
  }

#make-convo{
    font-size: 90%;
    font-family: 'Courier New', monospace;
    background-color: rgb(0, 4, 255);
    color: aliceblue;
}

.text p {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-family: sans-serif;
  font-size: 0.8em;
}

#output {
  background-color: rgba(41, 40, 40, 0.829);
  margin: 10px auto;
  padding: 10px;
  border-radius: 15px;
  border: solid 1px black;
  min-height: 100px;
}

.text:nth-child(odd) {
  text-align: left;
}

.text:nth-child(odd) p {
  background-color: rgb(233, 233, 233);
  color: black;
}

.text:nth-child(even) {
  text-align: right;
}

.text:nth-child(even) p {
  background-color: #4f5bfa;
  color: white;
}