/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */


  .ss{
    display: block;
    margin: 0 auto;
    max-width: 750px;
  }

  .ss2{
    display: block;
    margin: 0 auto;
    max-width: 750px;
  }

  .ss3{
    display: block;
    margin: 0 auto;
    max-width: 750px;
  }

  .ss4{
    display: block;
    margin: 0 auto;
    max-width: 750px;
  }

  figcaption {
    text-align: center;
    font-size: 120%;
}

.minor-section {
  background-color: #5f71a1;
  font-family: 'Courier New', monospace;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
}

#content{
  background-color: #2f439b;
}

h1{
  text-indent: 300px;
  color: white;
  font-size: 30px;
}