/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1{
  color: rgb(255, 255, 255);
  padding: 10px;
  border: solid 3px #0026ff;
  margin-bottom: 10px;
  font-family: 'Courier New', monospace;
  text-align: center;
  font-size: 30px
}

  h3{
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', monospace;
    text-align: center;
    font-size: 30px
  }

  h2{
font-size: 25px;
  }

  #body{
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #0026ff;
    font-family: 'Courier New', monospace;
    font-size: 106%;
    line-height: 2;
  }

  #content{
    background-color: #2f439b;
  }

  body {
    background-image: url('https://t4.ftcdn.net/jpg/02/40/63/55/360_F_240635575_EJifwRAbKsVTDnA3QE0bCsWG5TLhUNEZ.jpg');
  }

  .photo{
    display: block;
    margin: 0 auto;
    max-width: 500px;
  }
  
  .minor-section{
    font-family: 'Courier New', monospace;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
  }

  link{
    font-size: 50px;
   }